<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from webtendtheme.net/html/2024/ravelo/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Oct 2024 09:28:37 GMT -->
 @Html.Partial("~/Views/client/share/head.cshtml")

<body>
    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"><div class="custom-loader"></div></div>

        <!-- main header -->
        <header class="main-header header-one">
            @Html.Partial("~/Views/client/share/header.cshtml")
        </header>


        <!--Form Back Drop-->
        <div class="form-back-drop"></div>

        <!-- Hidden Sidebar -->
        <section class="hidden-bar">
            <div class="inner-box text-center">
                <div class="cross-icon"><span class="fa fa-times"></span></div>
                <div class="title">
                    <h4>Get Appointment</h4>
                </div>

                <!--Appointment Form-->
                <div class="appointment-form">
                    <form method="post" action="https://webtendtheme.net/html/2024/ravelo/contact.html">
                        <div class="form-group">
                            <input type="text" name="text" value="" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Message" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="theme-btn style-two">
                                <span data-hover="Submit now">Submit now</span>
                                <i class="fal fa-arrow-right"></i>
                            </button>
                        </div>
                    </form>
                </div>

                <!--Social Icons-->
                <div class="social-style-one">
                    <a href="contact.html"><i class="fab fa-twitter"></i></a>
                    <a href="contact.html"><i class="fab fa-facebook-f"></i></a>
                    <a href="contact.html"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>
            </div>
        </section>
        <!--End Hidden Sidebar -->
        <!-- Page Banner Start -->
        <section class="page-banner-area pt-50 pb-35 rel z-1 bgs-cover" style="background-image: url(assets/images/banner/banner.jpg);">
            <div class="container">
                <div class="banner-inner text-white">
                    <h2 class="page-title mb-10" data-aos="fade-left" data-aos-duration="1500" data-aos-offset="50">Blog List View</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-20" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1500" data-aos-offset="50">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Blog List</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </section>
        <!-- Page Banner End -->
        <!-- Blog List Area start -->
        <section class="blog-list-page py-100 rel z-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        

                        @model IEnumerable<GoEASy.Models.Blog>

                        @{
                            ViewData["Title"] = "Blog";
                        }

                        @foreach (var blog in Model)
                        {
                            var mainImage = blog.BlogImages?.FirstOrDefault(img => img.IsMain == true)?.ImageURL ?? "/image/default.jpg";
                            var authorName = blog.AuthorAdmin?.FullName ?? blog.AuthorUser?.FullName ?? "Unknown";
                            var blogDate = blog.CreatedAt?.ToString("dd MMMM yyyy") ?? "N/A";

                            <div class="blog-item style-three" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                                <div class="image">
                                    <img src="@mainImage" alt="@blog.Title" />
                                </div>
                                <div class="content">
                                    <a href="#" class="category">@blog.Category?.CategoryName</a>
                                    <h5>
                                        <a href="/blog-detail/@blog.BlogID">@blog.Title</a>
                                    </h5>
                                    <ul class="blog-meta">
                                        <li><i class="far fa-calendar-alt"></i> <a href="#">@blogDate</a></li>
                                        <li><i class="far fa-comments"></i> <a href="#">Comments (0)</a></li>
                                    </ul>
                                    <p>@blog.ShortDescription</p>
                                    <p>Author: @authorName</p>
                                    <a href="/blog-detail/@blog.BlogID" class="theme-btn style-two style-three">
                                        <span data-hover="Book Now">Read More</span>
                                        <i class="fal fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        }

                       
                        

                        <ul class="pagination pt-15 flex-wrap" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                                <a class="page-link" href="/blog?page=@(ViewBag.CurrentPage - 1)">
                                    <i class="far fa-chevron-left"></i>
                                </a>
                            </li>

                            @for (int i = 1; i <= ViewBag.TotalPages; i++)
                            {
                                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                    <a class="page-link" href="/blog?page=@i">@i</a>
                                </li>
                            }

                            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                                <a class="page-link" href="/blog?page=@(ViewBag.CurrentPage + 1)">
                                    <i class="far fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-lg-4 col-md-8 col-sm-10 rmt-75">
                        <div class="blog-sidebar">

                            <div class="widget widget-search" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                                <form action="/blog" method="get" class="default-search-form">
                                    <input type="text" name="keyword" placeholder="Search" value="@Context.Request.Query["keyword"]" />
                                    <button type="submit" class="searchbutton far fa-search"></button>
                                </form>
                            </div>


                            <div class="widget widget-category" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                                <h5 class="widget-title">Category</h5>
                                <ul class="list-style-three">
                                    @foreach (var category in ViewBag.Categories as List<GoEASy.Models.TourCategory>)
                                    {
                                        <li>
                                            <a href="/blog?category=@category.CategoryName">@category.CategoryName</a>
                                        </li>
                                    }
                                </ul>
                            </div>

                            <div class="widget widget-news" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="50">
                                <h5 class="widget-title">Recent News</h5>
                                <ul>
                                    @foreach (var blog in ViewBag.RecentBlogs as List<GoEASy.Models.Blog>)
                                    {
                                        var img = blog.BlogImages?.FirstOrDefault(i => i.IsMain == true)?.ImageURL ?? "/image/default.jpg";
                                        var date = blog.CreatedAt?.ToString("dd MMM yyyy") ?? "";
                                        <li>
                                            <div class="image">
                                                <img src="@img" alt="@blog.Title" style="width: 80px; height: 60px; object-fit: cover;" />
                                            </div>
                                            <div class="content">
                                                <h6>
                                                    <a href="/blog/detail/@blog.BlogID">@blog.Title</a>
                                                </h6>
                                                <span class="date"><i class="far fa-calendar-alt"></i> @date</span>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- Blog List Area end -->
        <!-- footer area start -->
        @Html.Partial("~/Views/client/share/footer-area.cshtml")
        <!-- footer area end -->

    </div>
    <!--End pagewrapper-->
    @Html.Partial("~/Views/client/share/script.cshtml")

</body>

<!-- Mirrored from webtendtheme.net/html/2024/ravelo/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 07 Oct 2024 09:28:44 GMT -->
</html>